doctype html
html(lang='es')
    head
        title Insta API
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='InstaAPI Test')
        meta(name='keywords', content='instagram, api, test')
        meta(name='author', content='@mpalau')
        meta(name="robots", content="index, follow")

        //- ----- link website ----- //
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='css/insta.css')
    body
        h1(style='max-width: 90%; margin-left: auto; margin-right: auto; text-align: center') Hello World!
        
        #instagram
        
        p(style='max-width: 90%; margin-left: auto; margin-right: auto; text-align: center; margin-top: 15px') Glad you liked this. Powered by <a style='color: #0070C0' href= 'https://twitter.com/mpalau' target='_blank'>@mpalau</a>
        
        script(src='http://code.jquery.com/jquery-2.1.4.min.js')
        script(type='text/javascript', src='js/insta-min.js')
